<div class="container-fluid" ng-init="sLoadHelp()">

	<div ng-if="currLan == '1'">

		<h2 class="placeTitle fontFrosting">Ayuda</h2>

		<p>La aplicación “Visita Cuenca” funciona tanto con una conexión a
			internet y sin la misma.</p>

		<p>Para que la aplicación funcione sin conexión a internet debe
			descargar el mapa desde Google Maps siguiendo lo siguientes pasos:</p>


		<ul>
			<li>En la aplicación de Google Maps acceder al menú y buscar
				“Zona sin conexión”</li>
			<li>Seleccionar el área de la ciudad de Cuenca.</li>
			<li>Pulsar en el botón “Descargar”.</li>
		</ul>

		<p>Cabe recalcar que los mapas tienen una duración de 30 días.</p>

		<p>Los puntos de Interés que va a encontrar son Comida, Museos,
			Bancos, Bares y Hospedaje.</p>

		<p>Para acceder a la información de cualquier punto de interés lo
			puede realizar de dos maneras:</p>

		<ul>
			<li>Buscar por nombre</li>
			<li>Pulsar sobre el marcador y dar clic en “más información”</li>
		</ul>

		<p>Para saber la ruta se debe dar clic en el botón “como llegar”.</p>

		<p>Si tiene acceso a internet automáticamente se traza la ruta
			mientras que, si se encuentra en sin conexión tiene que pulsar el
			botón “indicaciones” de Google Maps.</p>

	</div>

	<div ng-if="currLan == '2'">

		<h2 class="placeTitle fontFrosting">Help</h2>

		<p>The application "Visita Cuenca" works with both an internet
			connection and without it.</p>

		<p>For the application to work without an internet connection you
			must download the map from Google Maps following the following steps:
		</p>


		<ul>
			<li>In the Google Maps application, access the menu and search
				for "Offline zone"</li>
			<li>Select the area of ​​the city of Cuenca</li>
			<li>Click the "Download" button.</li>
		</ul>

		<p>It should be noted that the maps have a duration of 30 days.</p>

		<p>The points of Interest that you will find are Food, Museums,
			Banks, Bars and Lodging.</p>

		<p>To access the information of any point of interest you can do
			it in two ways:</p>

		<ul>
			<li>Search by name</li>
			<li>Click on the marker and click on "more information"</li>
		</ul>

		<p>To know the route, click on the "how to get" button.Para saber
			la ruta se debe dar clic en el botón “como llegar”.</p>

		<p>If you have access to the internet, the route is automatically
			mapped, and if you are offline you have to press the "indications"
			button in Google Maps</p>

	</div>

</div>
